<!doctype html>
<html>
<head>
    <title> PassUsingViewBag - Backend1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/Styles/style.css" />
</head>

<body>
    <header>
        <div class="logo">Backend1</div>
        <a href="~/"><div class="home-link">Home</div></a>
    </header>
    <div class="content">
        <h2> PassUsingViewBag </h2>
        <div class="calculations">
            <b>Rand Value First : @ViewBag.CalcData.xnum </b> <br />
            <b>Rand Value Second : @ViewBag.CalcData.ynum </b><br />
            <b>Add : </b><br />
            @ViewBag.CalcData.xnum + @ViewBag.CalcData.ynum = @ViewBag.CalcData.add <br />
            <b>Sub : </b><br />
            @ViewBag.CalcData.xnum - @ViewBag.CalcData.ynum = @ViewBag.CalcData.sub <br />
            <b>Mult : </b><br />
            @ViewBag.CalcData.xnum * @ViewBag.CalcData.ynum = @ViewBag.CalcData.mult <br />
            <b>Div : </b><br />
            @ViewBag.CalcData.xnum / @ViewBag.CalcData.ynum =
            @if (!ViewBag.CalcData.divByZero)
            {
                @ViewBag.CalcData.div;
            }
            else
            {
                <mark>Error (division by 0)</mark>
            }
        </div>
    </div>
    <footer>© 2022 - Backend1</footer>
</body>
</html>